/*
----------------------
THE SOCIALS STYLESHEET
----------------------
*/

main{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    user-select: none;
    overflow-y: hidden;
    white-space: nowrap;
}

/*
-------------------
THE TITLE CONTAINER
-------------------
*/

.title{
    position:fixed; 
    left: 0; 
    right: 0;
    top: 16vh;
    margin-left: auto; 
    margin-right: auto;
    z-index: 100;
}

.title h1{
    font-family: 'consola';
    color: #ededed;
    text-align: center;
    font-size: 5vh;
}

.titleBrackets{
    color: #ff2828;
}

/*
------------------
THE TEXT CONTAINER
------------------
*/

.text{
    position: absolute;
    left: 5%;
    right: 52.5%;
    top: 30%;
    bottom: 5%;
    border-radius: 2%;
    background-color: rgba(10, 10, 10, 0.7);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
    z-index: 100;
}

.textTitle h1{
    margin: 5% 5% 2% 5%;
    color: #ededed;
    text-align: left;
    top: 35vh;
    user-select: text;
}

.textLine{
    background-color: #ededed;
    width: 90%;
    height: 0.2rem;
    margin: 0% 5%;
}

.textParagraph p{
    margin: 3% 5% 5% 5%;
    position: relative;
    font-size: 1.2rem;
    color: #ededed;
    text-align: justify;
    width: 90%;
    height: 50vh;
    white-space: normal;
    user-select: text;
}

/*
-------------------
THE LINKS CONTAINER
-------------------
*/

.links{
    z-index: 100;
    position: absolute;
    left: 52.5%;
    right: 5%;
    top: 30%;
    bottom: 5%;
    border-radius: 2%;
    background-color: rgba(10, 10, 10, 0.7);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
    align-items: center;
}

.links h1{
    margin: 5% 5% 2% 5%;
    color: #ededed;
    text-align: center;
    top: 35vh;
    text-transform: uppercase;
    user-select: text;
}

.linksLine{
    background-color: #ededed;
    width: 90%;
    height: 0.2rem;
    margin: 0% 5%;
}

.links ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-top: 5%;
}

.links ul li{
    margin: 5%;
}

.links ul img{
    filter: grayscale(1) brightness(2.5);
    transition: 0.2s;
    width: 9vh;
    height: 9vh;
}

.links img:hover{
    transition: 0.3s ease-out;
    width: 11vh;
    height: 11vh;
    filter: drop-shadow(0 0 0.3rem #ff000050);
}