/*
------------------------------
THE PAGE TRANSITION STYLESHEET
------------------------------
*/

.transitionMain{
    position: fixed;
    top: 8vh;
    right: -100%;
    width: 100%;
    bottom: 0;
    z-index: 300;
    background-color: #1B1B1B;
    transition: 0.35s ease-out;
}

.transitionMain.is-activeMain{
    right: 0;
}

.transitionNav{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    bottom: 92vh;
    z-index: 300;
    background-color: #1B1B1B;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-out;
}

.transitionNav.is-activeNav{
    opacity: 1;
    pointer-events: all;
}

/*
-----------------------
SCREEN SIZE TRANSITIONS
-----------------------
*/

@media screen and (max-height:720px) and (max-width:768px){
    .transitionMain{
        top: 50px;
        position: absolute;
        height: 700px;
    }
}

@media screen and (max-height:540px) and (max-width:768px){
    .transitionMain{
        top: 50px;
        position: absolute;
        height: 500px;
    } 
}