/*
---------------------
THE WHOAMI STYLESHEET
---------------------
*/

main{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    user-select: none;
    overflow-y: hidden;
    white-space: nowrap;
}

/*
-------------------
THE TITLE CONTAINER
-------------------
*/

.title{
    position: absolute; 
    left: 0; 
    right: 0;
    top: 16vh;
    margin-left: auto; 
    margin-right: auto;
    z-index: 100;
}

.title h1{
    font-family: 'consola';
    color: #ededed;
    text-align: center;
    font-size: 5vh;
}

.titleBrackets{
    color: #ff2828;
}

/*
------------------
THE TEXT CONTAINER
------------------
*/

.text{
    position: absolute;
    left: 5%;
    right: 52.5%;
    top: 30%;
    bottom: 5%;
    border-radius: 2%;
    background-color: rgba(10, 10, 10, 0.7);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
    z-index: 100;
}

.textTitle h1{
    margin: 5% 5% 2% 5%;
    color: #ededed;
    text-align: left;
    top: 35vh;
    user-select: text;
}

.textLine{
    background-color: #ededed;
    width: 90%;
    height: 0.2rem;
    margin: 0% 5%;
}

.textParagraph p{
    margin: 3% 5% 5% 5%;
    position: relative;
    font-size: 1.2rem;
    color: #ededed;
    text-align: justify;
    width: 90%;
    height: 50vh;
    white-space: normal;
    user-select: text;
}

/*
--------------------
THE BADGES CONTAINER
--------------------
*/

.badges{
    position: absolute;
    left: 52.5%;
    right: 5%;
    top: 30%;
    bottom: 5%;
    z-index: 100;
}

.badgesTryhackme{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 55%;
    background-color: rgba(10, 10, 10, 0.7);
    border-radius: 3%;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
    align-content: center;
}

.badgesHackthebox{
    position: absolute;
    left: 0;
    right: 0;
    top: 55%;
    bottom: 0;
    border-radius: 3%;
    background-color: rgba(10, 10, 10, 0.7);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
}

.badgesTryhackme h1, .badgesHackthebox h1{
    margin: 5% 5% 2% 5%;
    color: #ededed;
    text-align: center;
    top: 35vh;
    text-transform: uppercase;
    user-select: text;
}

.badgesLine{
    background-color: #ededed;
    width: 90%;
    height: 0.2rem;
    margin: 0% 5%;
}

.badgesText p{
    margin: 3% 5% 5% 5%;
    position: relative;
    font-size: 1.2rem;
    color: #ededed;
    text-align: justify;
    width: 90%;
    white-space: normal;
    user-select: text;
}

.tryhackmeBadge{
    width: 260px;
    margin-left: auto; 
    margin-right: auto;
}

.hacktheboxBadge{
    width: 220px;
    margin-left: auto; 
    margin-right: auto;
}

/*
-----------------------------
THE SCREEN SIZE AND ANIMATION
-----------------------------
*/
@media screen and (max-height:768px){
    .title{
        top: 120px;
    }

    .title h1{
        font-size: 40px;
    }

    .text{
        top: 220px;
        height: 490px;
    }

    .badges{
        top: 220px;
        height: 490px;
    }

    #particles-js{
        height: 700px;
    }
}

@media screen and (max-width:768px) {
    body{
        overflow-y: visible;
    }

    .title{
        top: 120px;
    }

    .title h1{
        font-size: 35px;
    }

    .text{
        right: 5%;
        top: 200px;
        height: 300px;
    }

    .badges{
        left: 5%;
        height: 600px;
        top: 560px;
    }

    .navLinks{
        height: 1150px;
    }

    #particles-js{
        height: 1150px;
    }
}

@media screen and (max-height:720px) and (max-width:768px){
    .title{
        height: 100px;
        top: 100px;
    }

    .text{
        right: 5%;
        top: 180px;
        height: 300px;
    }

    .badges{
        left: 5%;
        height: 600px;
        top: 530px;
    }

    #particles-js{
        height: 1150px;
    }
}