/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: auto;
    scrollbar-color: #17202A #36414D;
}

html{
	font: normal 16px Arial;
	color: #17202A;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

a:hover{
	color: #ff2828;
	transition: 0.2s;
}

p a {
	text-decoration: underline;
	font-weight: bold;
}

*::selection{
    background-color: #36363641;
}

hr{
	width: 300px;
	height: 2px;
	background-color: #ff2828;
	border: 0;
	margin-bottom: 35px;
}

span{
	color: #ff2828;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #17202A;
	font: bold 32px Arial;
	margin-bottom: 35px;
	text-align: center;
}

section h4.title{
	color: #17202A;
	font: bold 22px Arial;
	margin-bottom: 12px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: justify;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #36414D;
}

*::-webkit-scrollbar-thumb {
    background-color: #17202A;
    border-radius: 10px;
    border: 3px solid #36414D;
}


/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

header h2{
	font-family: Arial, Helvetica, sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}

/*----------------
 	Hero Section
----------------*/

#particles-js{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #17202A;
	z-index: -1;
}

.hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.hero h1{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 60px;
	margin-bottom: 15px;
}

.hero h3{
	font: normal 28px Arial;
	margin-bottom: 40px;
}

@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}

	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}
}



/*--------------------
 	About Section
---------------------*/

.about{
	background-color: #fff;
}

.badge{
	margin: 10px;
}

/*----------------------
 	Projects Section
----------------------*/

.projects{
	background-color: #f7f7f7;
}

.grid{
	max-width: 800px;
}

.list {
	padding: 0 20px;
	flex-basis: 50%;
	text-align: center;
}

.list li{
	text-align: left;
}

.list h4{
	color: #17202A;
    	font-size: 20px;
    	margin-bottom: 25px;
}

.list p{
	padding: 0;
	margin: 0;
	text-align: justify;
}

.content-list{
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	list-style-type: square;
}

.content-list li{
	list-style-position: inside;
}

@media (max-width: 1000px){

	.list{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.list:last-child{
		margin-bottom: 0;
	}
}


@media (max-width: 600px){

	.list{
		flex-basis: 100%;
	}

}

/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #17202A;
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}
